div {
    font-weight: normal !important;
    font-size: 18px !important;
    font-family: 'Source Serif Pro' !important;
    letter-spacing: 0px !important;
    word-spacing: 0px !important;
}

.focus:focus{
    background-color: #5EE2A0;
}

