.boxStyle {
    font-family:Source Serif Pro !important;
    top: 33px;
    left: 24px;
    position:relative;
    width: 300px;
    height: 275px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    overflow: visible !important;
    opacity: 1;
    margin-right:20px;
    margin-bottom:20px;
}

.inStyle {
    font-family:Source Serif Pro Bold  !important;
    width: 275px;
    height: 40px;
    box-shadow: none !important;
    margin:auto;
    overflow: visible !important;
}

.tlStyle {
    font: normal normal 600 18px/21px Source Serif Pro  !important;
}

.tmStyle  {
    font: normal normal 600 15px/21px Source Serif Pro  !important;
}

.tmsmStyle  {
    font: normal normal 300 15px/21px Source Serif Pro  !important;
}

.tsStyle  {
    font: normal normal 300 11px/21px Source Serif Pro  !important;
}

.tbsStyle  {
    font: normal normal 600 11px/17px Source Serif Pro  !important;
}


.tssStyle  {
    font: normal normal 300 11px/17px Source Serif Pro  !important;
}


.dtl > span  {
    font: normal normal 600 15px/21px Source Serif Pro  !important;
}
.headerStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
    padding: 0px;
    align-items: center;
}

.signIn  {
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    width:100%;
    background:#ffffff;
    cursor:pointer;
    padding:8px !important;
    padding-bottom:8px !important;
    margin-top:18px;
    margin-left:0px !important;
    display: flex; 
    flex-direction: row;
    position:relative;
    justify-content:left !important;
    align-items: center;
}

.signSec {
    margin-top: -10px;
    padding:0px;
    display:block;
}

.inText  {
    color: #000000;
    opacity: 0.5;
    margin-left: 10px;
    text-transform: none !important;
    font-family: 'Source Serif Pro' !important;
}

.spanStyle {
    position: absolute;
    right: 12px;
    padding: 0px 5px;
    background: #5EE2A0 0% 0% no-repeat padding-box;
    border: 1px solid #5EE2A0;
    border-radius: 5px;
    top: 10.5px;
    font-weight: 600;
    opacity: 1 !important;
    color: rgba(0, 0, 0, 1);
    font-size: 11px;
}

.info {
    font: normal normal 300 11px/15px Source Serif Pro;
    margin-top: 18px;
    letter-spacing: 0px;
    display: block;
    text-align: left;
    word-spacing: 0px;
    line-height: 1.2 !important;
}

.inputStyle input, .hoverB input {
    border: none;
    outline:none;
    background: none;
    width: 100%;
    font-size : 15px;
    font-family:Source Serif Pro;
    color:#000000;
    opacity: 0.5;
    font-weight: 600;
}

.hoverB > input {
    font-size : 18px;
    font-weight: 500;
    margin-bottom:15px;
    padding:7px !important;
}

.inputStyle input[type="text"]::placeholder {
    font-size : 15px;
    font-family:Source Serif Pro;
    color:#000000;
    /* opacity: 0.5; */
    font-weight: 600;
    text-align: center;
}
.NickStyle input[type="text"]::placeholder , .hoverB input[type="text"]::placeholder{
    text-align: left;
}
.submitT {
    width: 200px;
    height: 40px;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    margin:20px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top:15px; */
    padding-bottom:16px !important;
}

.submitT span {
    opacity: 0.5;
}

.btns {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    cursor: pointer;
    padding:5px !important;
    margin-left:0px !important;
    padding-bottom:0px !important;
}

.btns:last-child{
    padding-bottom: 0px !important;
}

.btns .ref button, .btnStyles {
    margin-right: 12px;
    background:  rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660;
}
.btns .yel button {
    margin-right: 12px;
    background: #FFA700 0% 0% no-repeat padding-box;
border: 1px solid #E9EDF2;
color: #925f00d2;
}
.btns .ref , .btns .out {
    padding-bottom: 0px !important;

    padding: 0px !important;

}
.btns .out button {
    /* margin-right: 12px; */
    background:  rgba(240, 41, 41, 0.4) no-repeat padding-box;
    color: #b90101;
}
.btns button > span, .btnStyles, .hidebody label, .datetimes  {
    font-size: 15px;
    font-family:Source Serif Pro;
    font-weight: 600;
    /* color: rgba(255, 0, 0); */
    opacity:1 !important;
}

.btns .btnIn button {
    width: 80px;
    height: 40px;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    /* border: none; */
    box-shadow: none;
    text-transform: capitalize;
}

.spanHide {
    display: none !important;
}

.spanShow {
    display: block;
}


.main2{
    margin-bottom: 5rem;
    background: #c5c3c2;
    margin-top: 2rem;
    display: flex;
    padding: 1rem;
}

 .mainStyle  {
    width: 400px;
    height: max-content;
    margin-top: 40px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    opacity: 1;
    font: normal normal 300 15px/21px Source Serif Pro !important;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
    overflow: visible;
}

.headers  {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 3px solid rgba(233, 237, 242, 1);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px;
    margin-bottom: 10px;
}
.headerContent  {
    display: flex;
    position: relative;
    align-items: center;
    padding:0px !important;
    justify-content: center;
}
 .headerBody  {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}
 .composeBody  {
    width: 100%;
    display: flex;
    margin-bottom: 7px;
    padding-bottom: 4px;
}

 .borderBStyle  {
    border-bottom: 1px solid #ebebeb;
}
 .ComposeLower  {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #E9EDF2;
    border-radius: 5px;
    opacity: 1;
    height: 40px;
}
 .ComposeBtns  {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 12px;
    padding: 1.2px;
}
 .borderStyle  {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E9EDF2;
    border-radius: 5px;
    padding: 2px 6px;
    opacity: 1;
}
 .imgStyle  {
    margin-left: 12px;
    width: 25px !important;
}

.hoveroutStyle  {
    position: relative;
    width: 100%;
}

 .hoverStyle  {
    position: absolute;
    font-size: 11px;
    top: -45px;
    left: -45px;
    width: max-content;
    background: #F2F5F8;
    padding: 1px;
    z-index: 10;
    border-radius: 5px;
}

.hello{
    width:25px !important;
}

 .closeextra  {
    left: -28px;
}

 .hoverBody  {
    position: relative;
    width: 7.21rem;
    text-align: center;
}

 .peek  {
    width: 12px;
    height: 16px;
    background: #F2F5F8;
    top: 13px;
    z-index: -10;
    position: absolute;
    transform:  rotate(45deg);
    left: 30px;
}

 .peekex  {
    left: 10px;
}

 .comBtn  {
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: 3px solid rgba(233, 237, 242, 1);
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px !important;
    margin-bottom: 10px;
    width:100%;
}
 .btnStyle  {
    display: flex;
    justify-content: right;
    align-items: end;
    /* align-content: end; */
}
 .btnStyles  {
    width: fit-content;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 0;
    text-transform: capitalize;
}
 .comex  {
    width: 300px;
    left: -11rem;
    top: -8rem;
}
.comexx {
    width: 225px;
    left: -13rem;
    top: -10rem;
    opacity: 70%;
}
 .datetime  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    width:100%;
    margin-bottom: 0.5rem;
}
 .send  {
    left: -18rem;
    top: -10rem;
}

.w100 {
    width: 100%;
}

.composeBody input, .dropdown input{
    border: none;
    outline:none;
    background: none;
    width: 100%;
    font-size : 15px;
    font-family:Source Serif Pro;
    color:#161616;
    /* opacity: 0.5; */
    margin-left: 5px;
    /* font-weight: 600; */
}
.dropdown input {
    margin-left: 0px;

}
.composeBody textarea{
    width:100% !important;
    height:302px;
    border: none;
    outline:none;
    background: none;
    resize: none;
}

.spanInv {
    display:flex;
}

.cbtn button{
 width:119px !important;
}

.spanInv {
    margin-left: 4px;
    font: normal normal 600 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    /* margin-right: 15px; */
    opacity: 0.5;
    padding: 0px !important;
}


.alpha , .mini , .cross , .attach {display: none;}

.spanHide {
    display: none !important;
}

.spanShow {
    display: block;
}

.halpha:hover + .alpha, .hmini:hover + .mini, .hcross:hover + .cross, .hattach:hover + .attach {
    display: block !important ;
}

.spanVis {
    visibility:hidden;
}

.headerBody, .headerContent, .composeBody, .headerBody  {
    /* padding: inherit !important; */
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

/* ,.hoverBody */
.ComposeLower,.hoveroutStyle,.btnStyle ,.hoverStyle,.peek,.ComposeBtns {
    padding: 0px !important;
}
.padding0 {
    padding: 0px !important;
}
.als {
    align-items: start;
}
.ale {
    justify-content: end;
    opacity: 70%;
}
.alss {
    justify-content: start;
    opacity: 70%;
}
/* .userEmail div {
    padding: 1px 1px !important;
    font: normal normal 600 13px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: #000000;
    border: none !important;
    opacity: 0.5;
}

.userEmail fieldset{
    border: none !important;
}

.userEmail ul {
    padding:8px !important;
}

.userEmail ul > li {
    padding:5px 10px !important;
}

.userEmail svg{
        display: none !important;
        visibility: hidden !important;
} */
.dropdown {
    width: 253px;
    height: max-content;
    margin-top: 40px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    opacity: 1;
    font: normal normal 300 15px/21px Source Serif Pro;
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 1);
}

.userData {
    padding: 5px 10px;
}

.user {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pic {
    margin-right: 10px;
}

.em {
    font: normal normal 300 11px/15px Source Serif Pro;
}
.bg{
    background-color: #5EE2A0;
    border-radius: 5px;
    width: 25px !important;
}

.ename {
    margin-top:15px;
    margin-bottom:20px;
}

.enames {
    margin-top:25px;
    margin-bottom:20px;
}

.minh {
    min-height:5.5rem;
}

.ebtns {
    justify-content: start;
    flex-wrap: wrap;
}


.ebtns .ebtnIn button {
    width:max-content !important;
    opacity:70%;
}

.et {
    margin-bottom: 7.5px;
    margin-top:7.5px;
}

.padt {
    padding-top: 10px !important;
}

.italic {
    font: italic normal normal 15px/21px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
margin-top:5.8rem;
opacity: 1;
}

.colorSelect {
    /* background: #000AFF 0% 0% no-repeat padding-box; */
    /* border: 1px solid #000AFF; */
    border-radius: 5px;
    border: none !important;
    opacity: 1;
    padding: 1px;
    width: 35px !important;
    appearance: none;
    opacity: 1 !important;
    height: 25px !important;
}
.colorSelect::-webkit-color-swatch {
    border-radius: 5px;
}
.minHeight {
    max-height: 2.8rem;
    overflow: scroll;
    margin-top: 15px;
}
.minHeights {
    max-height: 6.99rem;
    overflow: scroll;
    margin-top: 15px;
}
.minHeight::-webkit-scrollbar , .minHeights::-webkit-scrollbar {
    display:none !important;
}
.rel {
    position:relative;
}
.abs {
    position: absolute;
    top: 3rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px !important;
    border-radius: 5px;
    z-index: 1;
}
.imgr {
    margin-left:12px;
    padding:1px;
}
.flexWS {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flexUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.btna {
    margin-top:-5px !important;
}

.btna button {
    height:25px !important;
}

.flexAccess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.userInfo {
    display:flex;
    padding:0px !important;
    justify-content: start;
    align-items: center;
}
.picc {
    padding:5px !important;
    border-radius: 50%;
    font-weight: 700 !important;
    border: 1px solid gray;
}
.users {
    width:6.2rem;
    margin-top:3px;
    margin-bottom:3px;
    font: normal normal 300 13px/17px Source Serif Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.mar{
    margin:4px;
}
.mars {
    margin:4px;
    font: normal normal 600 13px/21px Source Serif Pro  !important;
    color: black;
}

.abss{
    position: absolute;
    top: 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 2px !important;
    border-radius: 5px;
    z-index: 1;
    right: -1rem;
}

.mars span {
    font: normal normal 300 11px/15px Source Serif Pro;
    letter-spacing: -0.1px;
    color: #000000;
    opacity: 1;
}

.colorr{
    background: #FF0000 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 0.25;
    display:block;
}

.absf {
    position: fixed;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0px !important;
    border-radius: 5px;
    z-index: 1000;
    transform: translate(-5.7rem, 0.4rem);
}

.op05 {
    opacity: 0.5;
}

.wellM {
        padding: 0px;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
}

.wellC {
    width:45%;
}

.wbtn button {
    width:110px !important;
}

.CameraON {
    height:115px;
    margin-top:15px;
    margin-bottom:10px;
}

.ask {
    justify-content:space-between;
}

.askp {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 10px;
}
.pink {
    background:pink 0% 0% no-repeat padding-box;
}

.save button {
    font-size: 12px !important;
    width: 20px !important;
    height: 20px !important;
    overflow: hidden;
    font-weight: 700 !important;
    margin-right: 0px !important;
    /* background: rgba(127, 218, 172, 0.4) no-repeat padding-box;
    color: #2a9660; */
}